.footer {
  background-color: rgb(36, 16, 16);
  text-align: center;
  padding: 60px;
}

.footer a {
  font-size: 30px;
  color: #1EDD88;
}

.footer p {
  color: rgb(152, 152, 152);
}

.footer .fas {
  color: #920404;
}
